@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    font-family: fantasy;
}
#cardGroup{
    background-color: darksalmon;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container-fluid {
      font-family: fantasy;
  }
  
  
  footer-bdy {
      opacity: 0.6;
  }
  
  i {
      margin: 2rem;
  }
  
  #porque {
      font-family: Lucida Handwriting;
      background-color: rgb(192, 236, 247);
      margin-bottom: 5px;
  }
  
 #cardGroup {
    border: 5px solid #fd2a5f;
  }
  
  #cardImg {
    padding: 5px;
  }

  #cardTitle {
    padding: 0px;
    height: 15mm;
    background-color: pink;
    justify-content: center;
  }
 #cardBody {
     border: 10px solid rgb(192, 236, 247);
     margin: 2px;
     padding: 5px;
 }
  
